@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "RedHatText-Italic";
  src: url(/assets/fonts/RedHatText-Italic-VariableFont_wght.ttf);
}

@font-face {
  font-family: "RedHatText";
  src: url(/assets/fonts/RedHatText-VariableFont_wght.ttf);
}

body {
  font-family: "RedHatText";
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
}

.modal-content button {
  margin: 5px;
}